page-home {
    .tile
    {
        width: 49%;
        height: 49%;
        display: inline-block;
        margin-bottom: 3px;

        ion-icon
        {
            color: white;
            font-size: 10em;
            text-align: center;
            display: block;
            padding-top: 40%;
        }

        label
        {
            color: white;
            display: block;
            text-align: center;
            font-size: 2em;
        }
    }
}
