// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.ReportBackground { background-color: #FF6138; }
.ReportForeground { color: #FF6138; }

.DonateBackground { background-color: #BEEB9F; }
.DonateForeground { color: #BEEB9F; }

.VolunteerBackground { background-color: #79BD8F; }
.VolunteerForeground { color: #79BD8F; }

.AdvocateBackground { background-color: #00A388; }
.AdvocateForeground { color: #00A388; }